* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

header {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 5rem;
}

.logo {
  height: 7rem;
}

.account-link:is(:link, :visited) {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  background-color: #51cf66;
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  width: 12rem;
  transition: all 0.5s;
}

.search-bar {
  display: flex;
  width: 30vw;
  margin: 0 auto;
  background-color: #b2f2bb;
  border-radius: 50rem;
  padding: 1rem;
}

input {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  color: #000;
  padding-left: 5rem;
  font-size: 2rem;
}

.search-btn,
.save-btn {
  display: inline-block;
  border: none;
  padding: 1.5rem 3.5rem;
  background-color: #51cf66;
  color: #fff;
  border-radius: 50rem;
  transition: all 0.5s;
}
.account-link:is(:hover, :active),
.search-btn:is(:hover, :active) {
  background-color: #2b8a3e;
}

.main-container {
  width: 60vw;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  position: relative;
}

.album-container {
  background-color: #b2f2bb;
  border-radius: 1rem;
  padding: 1rem;
  height: 70rem;
}

.item-album-container {
  height: 10rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #999;
}

.item-album-container img {
  height: 8rem;
  border-radius: 10rem;
}

.item-album-container div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.item-album-container button {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 5rem;
  color: #fff;
  background-color: #51cf66;
}

.title {
  font-size: 2.4rem;
  height: 10%;
  padding: 1rem;
}

.result-container {
  height: 90%;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
}

.save-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
